* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "David Libre", sans-serif;
}

.page {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.footer {
  background-color: rgb(43, 41, 41);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  position: fixed;
  bottom: 0vh;
  left: 0px;
  width: 100vw;
}
